<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona domowa</title>
    <style>
        .center {
            text-align: center;
            margin-top: 20vh; 
        }
        input[type="text"] {
            width: 250px; 
            padding: 10px;
            font-size: 16px; 
        }
        h1 {
            font-size: 40px; 
        }
    </style>
</head>
<body>
    <div class="center"> 
        <h1>Welcome to search engine!</h1>
        <form action="/solve" method="GET">
            <input type="text" name="query" placeholder="Search...">
            <select name="method">
                <option value="normal">Normal</option>
                <option value="svd">SVD</option>
            </select>
            <input type="submit" value="Szukaj">
        </form>
    </div>
</body>
</html>
